*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************************************************************COMMON FOR DTR, SG, P*****************************************************************/
#heading{
    text-align: center;
}
.datestoremember,.speakerheading,.registrationhd,.contactheading{
    padding: 4%;
}

/************************************************************SUBMISSION GUIDELINES AND PLAGERISM***************************************************************************/
.subguide,.plag{
    width: 100%;
    margin: 0%;
}
.subguideheading,.plagheading
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subguidecontent,.plagcontent{
    padding: 0%;
}
#subguidehd{
    text-align: center;
    padding: 2%;
}
.subguidepara,.plagpara{
    padding: 6%;
}
.plagcontent{
    text-align: right;
}
/***************************************************************SPEAKERS**********************************************************************************/
.speakerfirstrow,.speakersecondrow{
    padding: 1%;
}
.speakersecondrow{
    margin-bottom: 2%;
}
#speakerimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.speaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/**************************************************************REGISTRATION*********************************************************************************/
.registration{
    min-height: 400px;
}
/*************************************************************CONTACT US**************************************************************************************/
.contactcards{
    margin: 3%;
}
.contactcard{
    padding: 2%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/***********************************************************Media Queries***********************************************************************************/
@media screen and (max-width:768px) {
    .plagheading{
        visibility: hidden;
    }
    .plagheadingforphone{
        text-align: center;
    }
    .subguide,.plag{
        margin:0%
    }
    .subguidepara,.plagpara{
        text-align: center;
    }
}
@media screen and (min-width:768px) {
    .plagheadingforphone{
        visibility: hidden;
    }
}