@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/**************************************************************************COMMON FOR DTR, SG, P*****************************************************************/
#heading{
    text-align: center;
}
.datestoremember,.speakerheading,.registrationhd,.contactheading{
    padding: 4%;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
  ul{
    list-style-type: none;  
  }
  .btn:active{
    color: white;
    background-color: black;
  }
  .maintitle{
    margin-bottom:4%;
    /* font-size: large; */
  }
  /*************************************************** navbar************************************************************/
  .navbar{
    position: fixed;
    top:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 99999;
    width: 100%;
  }
  /*************************************************** homepage-css******************************************************/
  .homepage-container{
    width: 100%;
    height:100%;
    margin-top: 4%;
    /* position: relative; */
  }
  .homepage-background{
    background: url(/images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
  }
  .homepage-container .homepage-content h2{
      color: white;
      text-align: center;
  }
  
  .homepage-container .homepage-content h3{
      color: white;
      text-align: center;
  }
  
  .countdown {
    text-align: center;
    margin-top: 14rem;
    font-size: 3rem;
  }
  
  .countdown-container span{
      font-size: 30px;
      color: rgb(250, 250, 250);
  }
  
  .timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-top: 25%;
    margin-left: 30%;  
  }
  
  .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding: 1rem 2rem;
    height: 150px;
    width: 100%;
    font-size: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    backdrop-filter: blur(10px);
  }
  
  .homepage-content{
    position: absolute;
    margin-top: 8%;
    margin-left: 22%; 
  }
  
  .day{
    background-image: url(/images/TIMER\ 1.png);
  }
  .hour{
    background-image: url(/images/TIMER\ 2.png);
  }
  .minute{
    background-image: url(/images/TIMER\ 333.png);
  }
  .seconds{
    background-image: url(/images/TIMER\ 444.png);
  }
  .day,.hour,.minute,.seconds{
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  /***************************************************** about-us-css************************************************/
  
  .about-container{
    width:100%;
    padding: 10%;
    position: relative;
    
  }
  #about-content-id{
    margin-top: 50%;
  }
  .about-content{
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
  }
  .content{
    margin-left: 5%;
  }
  #about-department-content{
    text-align: right;
  }
  .aboutinstimage,.aboutdeptimage,.ICCSTimage{
    width: 100%;
    height: inherit;
  }
  #ICCSTcontent{
    padding-top:1% ;
  }
  /***************************************************** committee-css************************************************/
  
  .committee-container{
    margin: auto;
    width: 100%;
    padding: 10%;
  }
  
  .committee-list-container{
    padding: 15px;
    margin-left: -1%;
  }
  
  .committee-container-in{
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .switch-btn{
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  #international-committee,#national-committee{
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 2%;
    border-radius: 30px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  #international-committee{
    background-color: rgb(230, 230, 230);
    height: inherit;
    
  }
  #national-committee{
    background-color: rgb(20, 20, 20);
    transform: rotateY(180deg);
    height: inherit;
    color:rgb(190, 190, 190);
  }
  
  .international-committee-list{
    padding: 5%;
  }
  .national-committee-items{
    list-style-type: none;
    border-left: 5px solid white;
    margin-top: 2%;
  }
  .international-committee-items{
    list-style-type: none;
    border-left: 5px solid black;
    margin-top: 2%;
  }
  /***************************************************** callforpaper-css************************************************/
  .callforpaper-container{
    width: 100%;
    position: relative;
    margin-top: 45%;
  }
  .topicsofinterest-background{
    width: 100%;
    position: relative;
    padding: 15%;
  }
  .topicsofinterest-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .topicsofinterest-item{
    border: 1%;
    margin-top: 5%;
  }
  .topics{
    margin: 5%;
    margin-left: 30%;
    width: 35%;
    height: 80px;
  }
  .topiclabel{
    margin-top: 5%;
  }
  .topics:hover{
    width: 45%;
    height: 81px;
  }
  #neuralnetwork-fuzzylogic{
    background-image: url(/images/Neural\ networks\ and\ fuzzy\ logic\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
    
  }
  #Internetofthings{
    background-image: url(/images/Internet\ of\ Things\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #greencomputing{
    background-image: url(/images/Green\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #cloudcomputing{
    background-image: url(/images/4.Fog\,\ Edge\ and\ Cloud\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #internetwebapplication{
    background-image: url(/images/Internet\ &\ Web\ Application\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #cybersecurity{
    background-image: url(/images/Cyber\ Security\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #blockchain{
    background-image: url(/images/Block\ Chain\ technologies\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #informationretrival{
    background-image: url(/images/8.Information\ Retrieval\ techniques\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #Datamining{
    background-image: url(/images/9.Data\ mining\ and\ Warehousing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #wearablecomputing{
    background-image: url(/images/10.Wearable\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #mobilecomputing{
    background-image: url(/images/12.Mobile\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #robotics{
    background-image: url(/images/13.Robotics\ &\ Automation\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #aiml{
    background-image: url(/images/14.Artificial\ Intelligence\ &\ Machine\ Learning\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #naturallanguage{
    background-image: url(/images/15.Natural\ Language\ Processing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #computervision{
    background-image: url(/images/16.Computer\ Vision\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #softcomputing{
    background-image: url(/images/17.Soft\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #networksecurity{
    background-image: url(/images/18.Network\ Security\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #wirelessnetworks{
    background-image: url(/images/19.Wireless\ Networks\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #digitalsignal{
    background-image: url(/images/20.Digitial\ Signal\ &\ Image\ Processing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  
/************************************************************SUBMISSION GUIDELINES AND PLAGERISM***************************************************************************/
.subguide,.plag{
    width: 100%;
    margin: 0%;
}
.subguide{
  margin-top: 10%;
}
.subguideheading,.plagheading
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: azure;
}
.subguidecontent,.plagcontent{
    padding: 0%;
  background: rgba(255, 255, 255, 0.61);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 5px solid rgba(255, 255, 255, 1);
}
#subguidehd{
    text-align: center;
    padding: 2%;
}
.subguidepara,.plagpara{
    padding: 6%;
}
.plagcontent{
    text-align: right;
    
}
.plagheadingforphone{
  display: none;
} 
/***************************************************************SPEAKERS**********************************************************************************/
.speakers{
  margin-top: 5%;
  /* background: rgba(0, 0, 0, 0.84);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(0, 0, 0, 0.3); */
}
.speakerheading{
  color:black;
}
.speakerfirstrow,.speakersecondrow{
    padding: 1%;
}
.speakersecondrow{
    margin-bottom: 2%;
}
#speakerimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.speaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
.speakerdetails{
  padding: 2%;
  /* background-color: #d11679; */
  /* border-radius: 16px; */
  margin: 2%;
  /* color: white; */
}
/**************************************************************REGISTRATION*********************************************************************************/
.registration{
    min-height: 700px;
}

/***************************************************************FOOTER*******************************************************/

footer{
  background-color: rgb(190, 190, 190);
}
/*************************************************************CONTACT US**************************************************************************************/
.contactcard{
    padding: 2%;
}
.card {
    background: rgba(0, 0, 0, 0.78);
    /* border-radius: 50px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: beige;
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card h5,.card p{
  color: whitesmoke;
}

.footer-copyright{
  padding: 1%;
}
/***********************************************************Media Queries***********************************************************************************/
@media screen and (max-width:1400px) {
  .timer {
    margin-top: 22%;
    margin-left: 28%;  
  }
  
  .homepage-content{
    margin-top: 6%;
    margin-left: 17%; 
  }
  #about-content-id{
    margin-top: 60%;
  }

  .callforpaper-container{
    margin-top: 55%;
  }
}
@media screen and (max-width:1200px) {
  body{
    font-size: medium;
  }
  
  .timer {
    margin-top: 30%;
    margin-left: 22%;  
  }
  
  .homepage-content{
    margin-top: 8%;
    margin-left: 12%; 
  }
  #about-content-id{
    margin-top: 80%;
  }
  .callforpaper-container{
    margin-top: 75%;
  }
}

@media screen and (max-width:1100px){
  .timer {
    margin-top: 30%;
    margin-left: 20%;  
  }
  
  .homepage-content{
    margin-top: 8%;
    margin-left: 7%; 
  }
  
  .callforpaper-container{
    margin-top: 90%;
  }
  
}

@media screen and (max-width:992px) {
  
  #mediumless{
    display: block;
  }
  #largemore{
    display: none;
  }
  .content-heading{
    margin-top: 5%;
  }
  .timer {
    margin-top: 35%;
    margin-left: 13%;  
  }
  .homepage-content{
    margin-top: 8%;
    margin-left: 19%; 
  }
  .time {
    height: 135px;
    width: 80%;
  }
  #about-content-id{
    margin-top: 90%;
  }
  .content{
    margin: 0%;
    margin-top: 5%;
    text-align: center;
  }
  #about-department-content{
    text-align: center;
  }
  .callforpaper-container{
    margin-top: 123%;
  }
  .speakerdetails h2{
    font-size: xx-large;
  }
  .speakerdetails h3{
    font-size: x-large;
  }
}
@media screen and (max-width:852px) {
  .callforpaper-container{
    margin-top: 138%;
  }
  .timer {
    margin-top: 40%;
    margin-left: 10%;  
  }
  .homepage-content{
    margin-top: 8%;
    margin-left: 14%; 
  }
  .time {
    height: 132px;
    width: 78%;
  }
  .plag{
    margin: 0%;
  }
    
}
@media screen and (max-width:767px) {
  .homepage-content{
    margin-left: 10%;
    margin-top: 10%;
  }
  .timer{
    margin-left: 8%;
    margin-top: 50%;
  }
  .time {
    height: 133px;
    width: 78%;
  }
  .about-content{
    margin-top: 2%;
  }
  #about-content-id{
    margin-top: 170%;
  }
  .content{
    margin-left: 0%;
    margin-top: 5%;
    }
  .callforpaper-container{
    margin-top: 150%;
    margin-left: -2%;
  }
  .subguide,.plag{
        margin:0%
  }
  .subguidepara,.plagpara{
        text-align: center;
  } 
  #onecontact,#secondcontact{
      width: 100%;
  } 
  .subguide{
    margin-top: 15%;
  }
  .plagheading{
    display: none;
  } 
  .plagheadingforphone{
    display: block;
    background-color: black;
    color: azure;
  }

  .callforpaper-container{
    margin-top: 240%;
  }
}
@media screen and (max-width:630px) {
  .homepage-content{
    margin-left: 5%;
    margin-top: 10%;
  }
  .timer{
    margin-left: 8%;
    margin-top: 50%;
  }
  .time {
    height: 120px;
    width: 80%;
    font-size: 2rem;
  }
  .callforpaper-container{
    margin-top: 310%;
  }
}
@media screen and (max-width:530px) {
  .callforpaper-container{
    margin-top: 400%;
  }
  .timer{
    margin-left: 8%;
    margin-top: 60%;
  }
}
  
@media screen and (max-width:450px) {
  .time {
    height: 120px;
    width: 90%;
    font-size: 2rem;
  }
  .homepage-content{
    margin-left: 2%;
    padding: 3%;
  }
  .timer{
    margin-left: -1%;
    margin-top: 70%;
  }
  .homepage-content h2{
    font-size: medium;
    padding-top: 5%;
  }
  .homepage-content h3{
    font-size: larger;
  }
  .about-content{
    margin-top: 3%;
  }
  #about-content-id{
    margin-top: 210%;
  }
  .content{
    margin-left: 0%;
    margin-top: 5%;
    }
  .callforpaper-container{
    margin-top: 700%;
    
  }
  .national-committee-items,.international-committee-items{
    padding:5%;
  }
  .topicsofinterest-list{
    padding-left: 0%;
  }
  .speaker{
    padding: 5%;
  }
  .footer-copyright{
    padding: 10%;
  }
}


@media screen and (min-width:991px) {
  #mediumless{
    display: none;
  }
  #largemore{
    display: block;
  }
  
}