@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/**************************************************************************COMMON FOR DTR, SG, P*****************************************************************/
#heading{
    text-align: center;
}
.datestoremember,.speakerheading,.registrationhd,.contactheading{
    padding: 4%;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
  ul{
    list-style-type: none;  
  }
  .btn:active{
    color: white;
    background-color: black;
  }
  .maintitle{
    margin-bottom:4%;
    /* font-size: large; */
  }
  /*************************************************** homepage-css******************************************************/
  .homepage-container{
    width: 100%;
    height: 700px;
    
  }
  .homepage-background{
    background: url(/images/homepage-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 700px;
  }
  .homepage-container .homepage-content h2{
      color: white;
      text-align: center;
  }
  
  .homepage-container .homepage-content h3{
      color: white;
      text-align: center;
  }
  
  .countdown {
    text-align: center;
    margin-top: 14rem;
    font-size: 3rem;
  }
  
  .countdown-container span{
      font-size: 30px;
      color: rgb(250, 250, 250);
  }
  
  .timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-top: 20%;
    margin-left: 27%;  
  }
  
  .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding: 1rem 2rem;
    height: 150px;
    width: 150px;
    font-size: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    backdrop-filter: blur(10px);
  }
  
  .homepage-content{
    position: absolute;
    margin-top: 8%;
    margin-left: 26%; 
  }
  
  .day{
    background-image: url(/images/TIMER\ 1.png);
  }
  .hour{
    background-image: url(/images/TIMER\ 2.png);
  }
  .minute{
    background-image: url(/images/TIMER\ 333.png);
  }
  .seconds{
    background-image: url(/images/TIMER\ 444.png);
  }
  .day,.hour,.minute,.seconds{
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  /***************************************************** about-us-css************************************************/
  
  .about-container{
    margin: 2%;
    margin-top: 5%;
  }
  .about-content{
    margin: 2%;
  }
  #about-department-content{
    text-align: right;
  }
  .aboutinstimage{
    width: 350px;
    height: 320px;
  }
  .aboutdeptimage{
    width:350px;
    height: 250px;
  }
  .ICCSTimage{
    width:350px;
    height: 200px;
  }
  #ICCSTcontent{
    padding-top:1% ;
  }
  /***************************************************** committee-css************************************************/
  
  .committee-container{
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  
  .committee-list-container{
    padding: 15px;
    margin-left: -1%;
  }
  
  .committee-container-in{
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .switch-btn{
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  #international-committee,#national-committee{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  #international-committee{
    background-color: white;
    
  }
  #national-committee{
    background-color: black;
    transform: rotateY(180deg);
    height: 850px;
  }
  
  .international-committee-list{
    padding: 5%;
  }
  .national-committee-items{
    list-style-type: none;
    border-left: 5px solid white;
    margin-top: 2%;
  }
  .international-committee-items{
    list-style-type: none;
    border-left: 5px solid black;
    margin-top: 2%;
  }
  /***************************************************** callforpaper-css************************************************/
  .callforpaper-container{
    width: 100%;
    position: relative;
    margin-top: 45%;
    margin-left: -2%;
  }
  .topicsofinterest-background{
    width: 100%;
    position: relative;
    padding: 15%;
  }
  .topicsofinterest-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .topicsofinterest-item{
    border: 1%;
    margin-top: 5%;
  }
  .topics{
    margin: 5%;
    margin-left: 30%;
    width: 35%;
    height: 80px;
  }
  .topiclabel{
    margin-top: 5%;
  }
  .topics:hover{
    width: 45%;
    height: 81px;
  }
  #neuralnetwork-fuzzylogic{
    background-image: url(/images/Neural\ networks\ and\ fuzzy\ logic\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
    
  }
  #Internetofthings{
    background-image: url(/images/Internet\ of\ Things\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #greencomputing{
    background-image: url(/images/Green\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #cloudcomputing{
    background-image: url(/images/4.Fog\,\ Edge\ and\ Cloud\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #internetwebapplication{
    background-image: url(/images/Internet\ &\ Web\ Application\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #cybersecurity{
    background-image: url(/images/Cyber\ Security\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #blockchain{
    background-image: url(/images/Block\ Chain\ technologies\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  #informationretrival{
    background-image: url(/images/8.Information\ Retrieval\ techniques\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #Datamining{
    background-image: url(/images/9.Data\ mining\ and\ Warehousing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #wearablecomputing{
    background-image: url(/images/10.Wearable\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #mobilecomputing{
    background-image: url(/images/12.Mobile\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #robotics{
    background-image: url(/images/13.Robotics\ &\ Automation\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #aiml{
    background-image: url(/images/14.Artificial\ Intelligence\ &\ Machine\ Learning\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #naturallanguage{
    background-image: url(/images/15.Natural\ Language\ Processing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #computervision{
    background-image: url(/images/16.Computer\ Vision\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #softcomputing{
    background-image: url(/images/17.Soft\ Computing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #networksecurity{
    background-image: url(/images/18.Network\ Security\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #wirelessnetworks{
    background-image: url(/images/19.Wireless\ Networks\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  #digitalsignal{
    background-image: url(/images/20.Digitial\ Signal\ &\ Image\ Processing\ logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
  }
  
/************************************************************SUBMISSION GUIDELINES AND PLAGERISM***************************************************************************/
.subguide,.plag{
    width: 100%;
    margin: 0%;
}
.subguideheading,.plagheading
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subguidecontent,.plagcontent{
    padding: 0%;
}
#subguidehd{
    text-align: center;
    padding: 2%;
}
.subguidepara,.plagpara{
    padding: 6%;
}
.plagcontent{
    text-align: right;
}
/***************************************************************SPEAKERS**********************************************************************************/
.speakerfirstrow,.speakersecondrow{
    padding: 1%;
}
.speakersecondrow{
    margin-bottom: 2%;
}
#speakerimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.speaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/**************************************************************REGISTRATION*********************************************************************************/
.registration{
    min-height: 400px;
}
/*************************************************************CONTACT US**************************************************************************************/
.contactcards{
    margin: 3%;
}
.contactcard{
    padding: 2%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/***********************************************************Media Queries***********************************************************************************/
@media screen and (max-width:768px) {
    .plagheading{
        visibility: hidden;
    }
    .plagheadingforphone{
        text-align: center;
    }
    .subguide,.plag{
        margin:0%
    }
    .subguidepara,.plagpara{
        text-align: center;
    }
}
@media screen and (min-width:768px) {
    .plagheadingforphone{
        visibility: hidden;
    }
}


  /* media query */
  
  @media screen and (max-width:992px) {
    
    #mediumless{
      display: block;
    }
    #largemore{
      display: none;
    }
    .content{
      text-align: center;
    }
    #about-department-content{
      text-align: center;
    }
  }
  @media screen and (min-width:991px) {
    #mediumless{
      display: none;
    }
    #largemore{
      display: block;
    }
   
  }