@tailwind base;
@tailwind components;
@tailwind utilities;


.committee-container-in{
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
#international-committee,#national-committee{
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }


#national-committee{
    transform: rotateY(180deg);
}